<sw-loading class="section--align-center" *ngIf="loading"></sw-loading>

<section class="section--align-center" *ngIf="!loading">
  <sw-name>{{ vehicle.name }}</sw-name>

  <div class="category">
    <p class="category__paragraph">
      <sw-characteristics>Model:</sw-characteristics>
      {{ vehicle.model }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Manufacturer:</sw-characteristics>
      {{ vehicle.manufacturer }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Length:</sw-characteristics>
      {{ vehicle.length }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Passagengers:</sw-characteristics>
      {{ vehicle.passengers }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Consumables:</sw-characteristics>
      {{ vehicle.consumables }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Vehicle Class:</sw-characteristics>
      {{ vehicle.vehicle_class }}
    </p>
    <p class="category__paragraph--yellow">
      Featured in {{ vehicle.films?.length }} {{vehicle.films?.length === 1 ? 'film' : 'films'}}.
    </p>
  </div>
  <sw-button (click)="getRandomVehicle();">Select New Random Vehicle</sw-button>
  <sw-button [routerLink]="['/starwars/categories']">🡠 Back to Categories</sw-button>
</section>

<sw-footer></sw-footer>
