<sw-loading class="section--align-center" *ngIf="loading"></sw-loading>

<section class="section--align-center" *ngIf="!loading">
  <sw-name>{{ person.name }}</sw-name>

  <div class="category">
    <p class="category__paragraph">
      <sw-characteristics>Height:</sw-characteristics>
      {{ person.height }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Mass:</sw-characteristics>
      {{ person.mass }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Hair Color:</sw-characteristics>
      {{ person.hair_color }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Skin Color:</sw-characteristics>
      {{ person.skin_color }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Eye Color:</sw-characteristics>
      {{ person.eye_color }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Gender:</sw-characteristics>
      {{ person.gender }}
    </p>
    <p class="category__paragraph--yellow">
      Featured in {{ person.films?.length }} {{person.films?.length === 1 ? 'film' : 'films'}}.
    </p>
  </div>
  <sw-button (click)="getRandomPerson();">Select New Random Character</sw-button>
  <sw-button [routerLink]="['/starwars/categories']">🡠 Back to Categories</sw-button>
</section>

<sw-footer></sw-footer>
