@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');
@import '~scss/functions';
@import '~scss/keyframes';
@import '~scss/variables';
@import '~scss/mixins';
@import '~scss/reset';

html {
  height: 100%;
  background: $black;
  overflow: hidden;
  @include oficialFontStyle();
}

sw-button {
  margin-top: 1.5rem;
}

.align-center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}