<sw-loading class="section--align-center" *ngIf="loading"></sw-loading>

<section class="section--align-center" *ngIf="!loading">
  <sw-name>{{ specie.name }}</sw-name>

  <div class="category">
    <p class="category__paragraph">
      <sw-characteristics>Classification:</sw-characteristics>
      {{ specie.classification }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Designation:</sw-characteristics>
      {{ specie.designation }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Average Height:</sw-characteristics>
      {{ specie.average_height }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Skin Colors:</sw-characteristics>
      {{ specie.skin_colors }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Average Lifespan:</sw-characteristics>
      {{ specie.average_lifespan }}
    </p>
    <p class="category__paragraph">
      <sw-characteristics>Language:</sw-characteristics>
      <span class="subcategory">:</span>
      {{ specie.language }}
    </p>
    <p class="category__paragraph--yellow">
      Featured in {{ specie.films?.length }} {{specie.films?.length === 1 ? 'film' : 'films'}}.
    </p>
  </div>
  <sw-button (click)="getRandomSpecie();">Select New Random Specie</sw-button>
  <sw-button [routerLink]="['/starwars/categories']">🡠 Back to Categories</sw-button>
</section>

<sw-footer></sw-footer>
